 <div class="all">
     <div class="sidenav">
         <div>
            <a class="nav-link" routerLink="/home" routerLinkActive="active" style="text-align: left"><i class="fas fa-home"></i> Home<span class="sr-only" >(current)</span></a>
            <a class="nav-link" routerLink="/favorites" routerLinkActive="active"><i class="far fa-heart"></i> Favorites<span></span></a>
            <a class="nav-link" routerLink="/addRecipe" routerLinkActive="active"><i class="far fa-plus-square"></i> Add a recipe <span></span></a>
         </div>
         <div class="">
             <a class="navbar-brand fixed-bottom" href="https://www.themealdb.com/" style="width:50px;">MealDB</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
        <main class="main">
            <router-outlet></router-outlet>
        </main>
</div>


