.btn {
    background: 0;
}
.card-img-top {
    border-radius: 20px;
}
.container {
  width: 22rem;
    border: 0;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
    top: 7%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    background: 0;
  color: white;
  font-size: 20px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}


.container .btn:hover {
  background-color: black;
}
