<h1 style="text-align: center; margin: 10px;"> -- Favorites -- </h1>
<h6 style="text-align: center">
  There are {{favorites.totalquantity}} recipes that you favorited!
</h6>

<table class="table table-striped" style="font-size: medium">
  <thead>
    <tr>
      <th scope="col">Item</th>
        <th scope="col"></th>
         <th scope="col"></th>
        <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let favoritesitem of favorites.items">
        <th scope="row"><img class="card-img-top mx-auto" src="{{favoritesitem.picture}}" alt="favorites"></th>
      <th scope="row">{{favoritesitem.name}}</th>
        <th scope="row"></th>
        <th scope="row">{{favoritesitem.category}}</th>
          <td></td>
    </tr>
  </tbody>
</table>
