<p>
  There are {{favorites.totalquantity}} things that you favorited!
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Item</th>
        <th scope="col"></th>
        <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let favoritesitem of favorites.items">
      <th scope="row">{{favoritesitem.name}}</th>
        <th scope="row"></th>
        <th scope="row">{{favoritesitem.category}}</th>
          <td></td>

    </tr>

  </tbody>
</table>
